.features {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Set a nice font */
    align-items: center;
    
    
  }
  
  .features li {
    background: #fff; /* White background for list items */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
    margin-bottom: 16px; /* Space between list items */
    padding: 20px; /* Padding inside each list item */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    width: 90%;
    
  }
  
  .features li:hover {
    box-shadow: 0 8px 16px  rgba(33, 46, 160, 0.5);/*
     Darker shadow on hover */
  }
  
  .features h2 {
    font-size: 1.5em; /* Increase font size for headings */
    margin-top: 0; /* Remove top margin */
    color: #333; /* Dark color for headings */
  }
  
  .features p {
    color: #666; /* Lighter color for text */
    line-height: 1.6; /* Improve readability */
  }
  


/*--media query--*/
@media (max-width: 650px){
    .features{
        flex-direction: column;
    }

    .features p{
        font-size: 15px;
    
    }
}