.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding-top:12px;
}

.footer ul{
    justify-content: space-between;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    
}


.footer ul li a img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer ul li a{
    margin: 0;
}
/*--media query--*/
@media( max-width: 600){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}